= form_for @habit do |f|
  -if @habit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@habit.errors.count, "error")} prohibited this habit from being saved:"
      %ul
        - @habit.errors.full_messages.each do |msg|
          %li= msg

  / .field
  /   = f.label :makebreak
  /   = f.check_box :makebreak
  .field
    = f.label(:title, "What habit do you need help with?")
    = f.text_field :title
  .field
    = f.label(:description, "Tell us more about this habit...")
    = f.text_field :description
  .field
    = f.label(:frequency, "How frequently do you plan to track this habit?")
    %span
      Every
      = f.number_field :frequency
      day(s)
  .field
    = f.label(:duration, "How long do you want to track this habit?")
    = f.number_field :duration
    days
  .field
    = f.label(:consequence, "If you fail, what consequences will you have to face? (Example: I can't drink coffee for a month!)")
    = f.text_field :consequence
  .field
    = f.label(:referee_id, "In order to use HabitApp, you must have a referee to support you and hold you accountable. Enter their email address here, and we will send them an invite. (You can do this later if you want, but you can't track your progress until you have a referee.)")
    = f.number_field :referee_id
  .actions
    = f.submit 'Save'
    
    /MAKE A HABIT
    /I want to make a habit of __[working out 3 days a week]__ because __[I want to improve my health]__.
    /I will track my progress every [day][week][month] for __[60]__ days/weeks/months.
    /_[Friend's name here]_ will act as my referee and hold me accountable to this commitment. Their email is __[friend@email.com__]
    /If I fail to maintain this habit, the consequences will be __[no coffee for a week]__.
    
    /BREAK A HABIT
    /I want to break the habit of __[smoking]__ because __[I want to live longer]__.
    /I will track my progress every [day][week][month] for __[60]__ days/weeks/months..
    /_[Friend's name here]_ will act as my referee and hold me accountable to this commitment. Their email is __[friend@email.com__].
    /If I relapse, the consequences will be __[I must give $100 to the KKK]__.
